/* Global CSS for your Next.js project */

body {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
