:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

input{
  background-color: white;
}
/* custom code */

.user-menu {
  display: flex-col;
  align-items: center;
  gap: 15px;
}

.logout-btn {
  background: none;
  border: none;
  color: #ff4444;
  cursor: pointer;
  font-size: 14px;
  padding: 5px px;
  border-radius: 4px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logout-btn:hover {
  background-color: rgba(255, 68, 68, 0.1);
  text-decoration: underline;
}

.logout-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  text-decoration: none;
}

.logout-btn i {
  font-size: 12px;
}